body,
html {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	background: #002222;
	width: 100%;
	height: 100%;
}
.main {
	width: 300px;
	margin: 40px auto;
	display: flex;
	flex-direction: column;
	max-height: 600px;
	height: 80%;
	min-height: 300px;
}
.bar {
	flex-shrink: 0;
	flex-grow: 0;
	width: 100%;
	flex-basis: 50px;
}
.header {
	width: 100%;
	background-color: #0000ff;
}
.footer {
	background-color: #ff0000;
}
.container {
	flex-grow: 1;
	flex-shrink: 1;
	background-color: wheat;
	display: flex;
	flex-direction: column;
	flex-basis: 80%;
	padding: 10px;
	overflow-y: auto;
}
.message {
	flex-shrink: 0;
	width: 70%;
	height: 40px;
	margin: 5px 10px;
	border-radius: 10px;
	max-width: 80%;
}
.sent {
	background-color: lightgreen;
	align-self: flex-end;
}
.received {
	background-color: white;
}
.ScrollStyle {
	max-height: 150px;
	overflow-y: scroll;
}
